.flexbox {
  display: flex;
  &--flexDirection {
    &-column {
      flex-direction: column;
    }
    &-row {
      flex-direction: row;
    }
  }
  &--alignItems {
    &-center {
      align-items: center;
    }
  }
  &--justifyContent {
    &-center {
      justify-content: center;
    }
    &-spaceBetween {
      justify-content: space-between;
    }
  }
}
