$c-gray: #F3F5FB;
$c-shadows: rgba(0, 0, 0, .02);
$c-dark: #263445;
$c-light: #FBFBFD;
$c-white: #FFFFFF;
$c-muted: #88949E;

$c-border: #DEE5F1;

$c-primary: #0C53FB;
$c-success: #49C496;
$c-error: #e74c3c;
