@import url("http://fonts.fontstorage.com/import/roboto.css");
@import url("http://fonts.fontstorage.com/import/raleway.css");
@import "~@assets/scss/variables";

* {
  font-family: 'Roboto', sans-serif;
}

small {
  color: $c-muted;
}

.snackbar-wrapper {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.layoutBackground {
  background-color: #141414;
}
