@import "~@assets/scss/variables";
@import "~@assets/scss/mixins";

.avatar {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $c-muted;
  cursor: pointer;
  &--sm {
    width: 50px;
    height: 50px;
  }
  &--md {
    width: 75px;
    height: 75px;
  }
  &--lg {
    width: 100px;
    height: 100px;
    #{$self}__text {
      font-size: 28px;
    }
  }
  &__text {
    color: $c-white;
    font-weight: bold;
  }
}
