@import "~@assets/scss/variables";
@import "~@assets/scss/mixins";

.logotype {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $c-primary;

  &__icon {
    font-size: 2.8rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    h3 {
      margin: 0;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      color: $c-primary;
    }
    small {
      color: $c-muted;
      font-size: 12px;
    }
  }
}
