@import "~@assets/scss/variables";
@import "~@assets/scss/mixins";

.button {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  @include rounded;
  @include shadows-1;
  font-weight: 700;
  font-size: 12px;
  @include transition-all;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  &--primary {
    color: $c-light;
    background-color: $c-primary;
    border-color: $c-primary;
    #{$self}__icon {
      color: $c-light;
    }
  }
  &--default {
    color: $c-muted;
    background-color: $c-light;
    border-color: $c-border;
    #{$self}__icon {
      color: $c-muted;
    }
  }
  &__icon {
    margin-right: 5px;
  }
  &--block {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &:not(&--default):hover {
    background-color: darken($c-primary, 4);
  }
  &:not(&--default):active {
    background-color: lighten($c-primary, 4);
  }
}
