@import "~@assets/scss/variables";
@import "~@assets/scss/mixins";

.iconButton {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &--primary {
    background-color: $c-primary;
    border: 1px solid $c-primary;
    #{$self}__icon {
      color: $c-light;
    }
  }
  &--default {
    background-color: $c-light;
    border: 1px solid $c-border;
    #{$self}__icon {
      color: $c-muted;
    }
  }
  &--ghost {
    background-color: transparent;
    border: 0;
    #{$self}__icon {
      color: $c-muted;
    }
  }
}
