@import "~@assets/scss/variables";
@import "~@assets/scss/mixins";

.table {
  width: 100%;
  border-collapse: collapse;
  &__head {
    text-align: left;
    margin-bottom: 20px;
    &-row {
      &-cell {
        padding: 0 20px 20px 20px;
        color: $c-muted;
        font-size: 14px;
        &-arrows {
          margin-right: 5px;
          font-size: 12px;
          color: $c-muted;
        }
      }
    }
  }
  &__body {
    td:first-child,
    th:first-child {
      border-radius: 4px 0 0 4px;
    }
    td:last-child,
    th:last-child {
      border-radius: 0 4px 4px 0;
    }
    &-row {
      border: 0;
      background-color: $c-light;
      border-radius: 4px;
      &-cell {
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
        color: $c-dark;
      }
    }
  }

}

.separator {
  height: 10px;
}
