@import "~@assets/scss/variables";

.loader {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  &__spin {
    border-radius: 100%;
    margin: 2px;
    border: 2px solid $c-primary;
    border-bottom-color: transparent;
    height: 26px;
    width: 26px;
    background: 0 0!important;
    display: inline-block;
    -webkit-animation: rotateAndScale .75s 0s linear infinite;
    animation: rotateAndScale .75s 0s linear infinite;
  }
  &--block {
    align-items: center;
    height: 100%;
    padding: 0;
  }
}
